[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytesseract = "*"
black = "*"
tqdm = "*"
colorama = "*"

[dev-packages]
flake8 = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3.11"
